<a href="https://colab.research.google.com/github/Dabin-Park/BaekJoon/blob/main/Silver/1966(%ED%94%84%EB%A6%B0%ED%84%B0%20%ED%81%90).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from collections import deque

for _ in range(int(input())):
    N,M = map(int,input().split())
    Numbers = list(map(int,input().split()))
    
    dq = deque([])
    for i,n in enumerate(Numbers):
        dq.append([n,i])
    
    Numbers.sort()
    num = 0 
    while True:
        num += 1
        a = dq.popleft()
        if a[0] != Numbers[-1]:
            dq.append(a)
            num -=1
        elif a[1] == M:
            break
        else:
            Numbers.pop()
            
    print(num)

3
1 0
5
1
4 2
1 2 3 4
2
6 0
1 1 9 1 1 1
5