<a href="https://colab.research.google.com/github/Dabin-Park/BaekJoon/blob/main/Silver/3758(KCPC).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
def sol():
    n,k,t,m = map(int,input().split())
    Team = [[0]*(n+1)]+[[0]*(k+1) for _ in range(n)] + [[0]*(n+1)]
    for l in range(m):
        i,j,s = map(int,input().split())
        Team[i][j] = max(Team[i][j],s)
        Team[0][i] += 1
        Team[-1][i] = l
    Score = [[i,sum(Team[i]),Team[0][i],Team[-1][i]] for i in range(1,n+1)]
    Score.sort(key = lambda x : (-x[1],x[2],x[3]))
    for i in range(n):
        if Score[i][0] == t:
            return i+1
       
for _ in range(int(input())):
    print(sol())

2
3 4 3 5
1 1 30
2 3 30
1 2 40
1 2 20
3 1 70
1
4 4 1 10
1 1 50
2 1 20
1 1 80
3 1 0
1 2 20
2 2 10
4 3 0
 2 1 0
2 2 100
1 4 20
2