<a href="https://colab.research.google.com/github/Dabin-Park/BaekJoon/blob/main/Gold/8980(%ED%83%9D%EB%B0%B0).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

* 참고 블로그
    * https://ddiyeon.tistory.com/36

In [1]:
def sol():
    N,C = map(int,input().split())
    M = int(input())
    Box = sorted([list(map(int,input().split())) for _ in range(M)], key = lambda x : x[1])
    num, Town = 0, [C]*(N+1)
    for s,e,value in Box:
        min_ = min(min(Town[s:e]),value)
        for i in range(s,e):
            Town[i] -= min_
        num += min_
        
    return num
            
print(sol())

4 40
6
3 4 20
1 2 10
1 3 20
1 4 30
2 3 10
2 4 20
70